@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
html {
  font-family: "Lato", sans-serif !important;
}

#root-index {
  background: url(/assets/aaron-burden-9zsHNt5OpqE-unsplash.jpg) bottom;
  background-size: cover;
}

.cnt {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    rgba(236, 80, 158, 0.32),
    rgba(217, 10, 113, 0.5)
  );
}

.logo {
  width: 15%;
}

main {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}
h1 {
  position: relative;
}
.enter {
  cursor: pointer;
}

/**/
header {
  padding: 5px;
  background-color: #86b7fe;
}
.dr-br-c {
  background-color: blue;
}