@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
html {
  font-family: "Lato", sans-serif !important;
  font-size: 10px;
}

#root-index {
  background: url(/assets/aaron-burden-9zsHNt5OpqE-unsplash.jpg) bottom;
  background-size: cover;
}

.cnt {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    rgba(236, 80, 158, 0.32),
    rgba(217, 10, 113, 0.5)
  );
}

.logo {
  width: 100%;
}
.empty {
  height: 500px;
}
main {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}
nav {
  padding: 0 5px;
}
h1 {
  position: relative;
}
.enter {
  cursor: pointer;
}

/**/
.home-page {
  font-size: 2rem;
  background: url("/assets/home_page_img.jpg") no-repeat fixed;
  background-size: cover;
}
.home-page a {
  font-size: 2rem;
  color: #e2e3e5;
}
main > div {
  height: 80vh;
}
.nav-link {
  font-size: 2.2rem !important;
  color: #e8eaee !important;
}
.navbar-brand {
  width: 60px;
  height: 60px;
}
.navbar-toggler {
  background-color: #dee8ff !important;
}
header {
  height: 9vh;
  padding: 1rem 1.5rem;
  background-color: rgba(226, 227, 229, 0.18);
}
.intro-page {
  background: rgba(0, 0, 0, 0);
}
.dr-br-c {
  background-color: #2a2a42;
}

footer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.29);
  height: 11vh;
  color: #e2e3e5;
}
footer h2 {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: fit-content;
  text-align: center;
}
